@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&family=Poppins:wght@400;500;700&display=swap');


.product-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-family: "Poppins";
  }
  
  .left-section {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
  }
  
  .main-image {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    height: 500px;
    width: 500px;
    margin-left: 120px;
    border-radius: 5px;
  }
  
  .main-image img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    
  }
  
  .small-images img {
    width: 80px;
    cursor: pointer;
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
  }
  
  .right-section {
    flex: 1;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-left: 30px;
  }
  
  .product_title {
    font-size: 28px;
    font-weight: 500;
  }
  
  p {
    margin-bottom: 8px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select,
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .ratings1 {
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
}

.ratings1 .stars1{
    color: yellow;
}

.price1{
  margin-top: 15px;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 35px;
}


.sizebutton{
  margin-top: 20px;
  margin-bottom: 30px;
}

.sizebutton button{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: black;
    margin-left: 10px;
    height: 40px;
    width: 40px;
    font-weight: bold;
    border-radius: 5px;
}


.sizebutton button.selected {
  background-color: black;
  color: white;
}

.colorbutton{
  margin-top: 20px;
  margin-bottom: 30px;
}

.colorbutton button{
    padding: 10px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: black;
    margin-left: 10px;
    height: 40px;
    width: 70px;
    font-weight: bold;
    border-radius: 5px;
}


.colorbutton button.selected {
  background-color: black;
  color: white;
}

.colorbutton .availablecount{
  margin-top: 10px;
  margin-left: 10px;
}

.quantity-selector {
  margin-top: 10px;
  border: 1px solid black;
  margin-left: 10px;
  width: 24%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantity-selector button{
  color: black;
  width: 50px;
  background-color: white;
  border-radius: 5px;
}

.quantity-selector span{
  padding-left: 15px;
  padding-right: 15px;
}





.addcart button{
    padding: 10px;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    height: 48px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.addcart button:hover{
  background-color: black;
  color: #fff;
}

.buyNow button{
  padding: 10px;
    background-color: gray;
    border: 1px solid gray;
    color: #fff;
    height: 48px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 16px;
}

.abs{
  display: flex;
  margin-top: 50px;
}

.main1{
  font-family: "Poppins";
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 36%;
  margin-bottom: 60px;
  padding-top: 7%;
}

.main1 a{
  color: black;
  padding-left: 5px;
  padding-right: 7px;
}

.product_price{
  font-weight: bold;
  font-size: 18px;
  margin-top: -5px;
}

.quickdelivery {
  background-color: #f0f0f0; 
  border-radius: 5px;
  padding: 15px; 
  margin-top: 15px;
  width: 80%;
}


.quickdelivery label {
  margin: 0;
  padding: 0;
  font-weight: bold; 
}

.quickdelivery ul {
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  margin-left: 45px;
}


.quickdelivery li:before {
  content: '\2022'; 
  color: blue; 
  display: inline-block;
  width: 1em; 
  margin-left: -1em; 
  font-size: 1.5em; 
  font-weight: bold; 
  padding-right: 5px; 
}

.colorbutton .clear-button {
  margin-top: 10px; 
  padding: 5px 10px; 
  background-color: #f0f0f0; 
  border-radius: 5px; 
  cursor: pointer; 
  width: 150px;
}

.sizebutton .clear-button {
  margin-top: 10px; 
  padding: 5px 10px; 
  background-color: #f0f0f0; 
  border-radius: 5px; 
  cursor: pointer; 
  width: 150px;
}

.color-section{
  margin-bottom: 20px;
}

.color-section button{
  padding: 10px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: black;
    margin-left: 10px;
    height: 40px;
    width: 70px;
    font-weight: bold;
    border-radius: 5px;
}

.color-section button:hover{
  background-color: black;
  color: #fff;
}

.color-section button.selected {
  background-color: black;
  color: white;
}



