
.form-container {
    background-color: #f0f0f0;
  
    /* Grey background color */
    padding: 20px;
    border-radius: 10px;
  
    /* Border radius */
    width: 70%;
  
    /* Decrease the width of the form */
    margin: 0 auto;
  
    /* Center the form horizontally */
  
    label {
      display: block;
      margin-bottom: 5px;
    }
  
    input[type="text"] {
      width: calc(100% - 16px);
  
      /* Adjusted width to account for padding */
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      /* Border radius */
    }
  
    textarea {
      width: calc(100% - 16px);
  
      /* Adjusted width to account for padding */
      padding: 8px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
  
      /* Border radius */
  
      height: 100px;
  
      /* Adjust textarea height */
    }
  
    input[type="text"]:read-only, textarea:read-only {
      background-color: #fff;
  
      /* White background color for read-only inputs */
      border: 1px solid #ddd;
  
      /* Lighter border color for read-only inputs */
      color: #333;
  
      /* Text color for read-only inputs */
    }
  
    input[type="text"]:read-only::placeholder, textarea:read-only::placeholder {
      color: #999;
  
      /* Placeholder color for read-only inputs */
    }
  
    input[type="text"]:focus, textarea:focus {
      outline: none;
      border-color: #007bff;
  
      /* Blue border color on focus */
    }
  }
  