$color_1: #f0f0f0;
$color_2: #fff;
$color_3: #007bff;
$color_4: #000;
$color_5: white;
$background-color_1: #f5f5f5;
$background-color_2: #07223D;
$background-color_3: #555;
$background-color_4: #777;
$background-color_5: #28a745;
$background-color_6: #dc3545;
$background-color_7: #007bff;
$border-right-color_1: #fff;
$border-left-color_1: #fff;

/* Calendar */
.welcomeAdmin {
	display: flex;
	align-items: center;
	background-color: $background-color_1;
	width: 105%;
	height: 30%;
	border-radius: 10px;
	gap: 5px;
	margin-top: 20px;
	.adminImage {
		img {
			height: 100px;
			width: 100px;
			border-radius: 50%;
			padding: 15px;
			object-fit: cover;
		}
	}
	.adminDetails {
		display: flex;
		flex-direction: column;
		gap: -10px;
		.p1 {
			font-size: 16px;
			font-weight: bold;
		}
		.p2 {
			font-size: 15px;
		}
	}
}
.conversionRates {
	margin-top: 20px;
	background-color: $background-color_1;
	padding: 10px;
	border-radius: 10px;
	width: 100%;
	height: 48%;
	h2 {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-top: -10px;
	}
	ul {
		list-style: none;
		padding: 0;
		display: flex;
		gap: 25px;
		margin-left: 20px;
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10px;
			border-radius: 10px;
			background-color: $background-color_1;
			margin-bottom: 10px;
			width: 90px;
			height: 90px;
			border-radius: 50%;
			align-items: center;
			text-align: center;
			margin-top: 10px;
			li {
				font-size: 16px;
				color: $color_1;
				&:first-child {
					font-weight: bold;
				}
			}
			&:nth-child(1) {
				background-color: $background-color_2;
			}
			&:nth-child(2) {
				background-color: $background-color_3;
			}
			&:nth-child(3) {
				background-color: $background-color_4;
			}
		}
	}
}
.pp1 {
	margin-top: 10px;
	font-size: 20px;
}
.calendertime {
	display: flex;
	flex-direction: column;
	background-color: $background-color_1;
	margin-top: 20px;
	border-radius: 10px;
	width: 32%;
	align-items: center;
	height: fit-content;
	.timenow {
		font-size: 18px;
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.calendertoday {
		border-radius: 10px;
		margin-bottom: 23px;
	}
}
.react-calendar {
	width: 100%;
	max-width: 300px;
	background-color: $background-color_1;
	border-radius: 10px;
	border: 1px solid #ccc;
}
.react-calendar__tile--active {
	background-color: $background-color_2;
	color: $color_2;
	&:enabled {
		&:hover {
			background: #007bff;
		}
		&:focus {
			background: #007bff;
		}
	}
}
.react-calendar__tile--now {
	background-color: $background-color_5;
	color: $color_2;
	&:enabled {
		&:hover {
			background: #28a745;
		}
		&:focus {
			background: #28a745;
		}
	}
}
.react-calendar__tile--hover {
	background-color: $background-color_6;
	color: $color_2;
	&:enabled {
		&:hover {
			background: #dc3545;
		}
		&:focus {
			background: #dc3545;
		}
	}
}
.react-calendar__month-view__weekdays {
	text-align: center;
}
.react-calendar__month-view__weekdays__weekday {
	color: $color_3;
}
.react-calendar__month-view__days__day {
	color: $color_4;
}
.react-calendar__navigation {
	background-color: $background-color_2;
	border-radius: 10px 10px 0 0;
}
.react-calendar__navigation__label {
	color: $color_2;
	font-size: 12px;
}
.react-calendar__navigation__arrow {
	color: $color_2;
	font-size: 15px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	font-size: 15px;
}
.react-calendar__navigation__prev2-button {
	border-left-color: $border-left-color_1;
	border-right-color: $border-right-color_1;
	font-size: 18px;
}
.react-calendar__navigation__next2-button {
	border-left-color: $border-left-color_1;
	border-right-color: $border-right-color_1;
	font-size: 18px;
}
.dashbordsec1 {
	width: 98%;
	display: flex;
	justify-content: space-between;
	i {
		font-size: 30px;
		margin-top: 15px;
		margin-bottom: 25px;
	}
}
.weldivsec1 {
	display: flex;
	background-color: $background-color_1;
	justify-content: space-between;
	border-radius: 10px;
	width: 400px;
	height: 160px;
	padding: 10px;
	margin-top: 20px;
	gap: 20px;
	.ordercount {
		background-color: $background-color_7;
		color: $color_5;
		border-radius: 10px;
		margin-bottom: 10px;
		padding: 10px;
		width: 45%;
		height: 140px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.totalorders {
		background-color: $background-color_2;
		color: $color_5;
		border-radius: 10px;
		padding: 10px;
		width: 45%;
		height: 140px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.ordercount {
	h2 {
		font-size: 18px;
	}
}
.totalorders {
	h2 {
		font-size: 18px;
	}
}
.weldiv2 {
	display: flex;
	background-color: $background-color_1;
	justify-content: space-between;
	border-radius: 10px;
	width: 400px;
	height: 160px;
	padding: 10px;
	margin-top: 10px;
	gap: 20px;
	.usercount {
		background-color: $background-color_2;
		color: $color_5;
		border-radius: 10px;
		margin-bottom: 10px;
		padding: 10px;
		width: 45%;
		height: 140px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.Todayrevenue {
		background-color: $background-color_5;
		color: $color_5;
		border-radius: 10px;
		padding: 10px;
		width: 45%;
		height: 140px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.usercount {
	h2 {
		font-size: 18px;
	}
}
.weldiv1 {
	.welp {
		font-size: 20px;
		font-weight: bold;
	}
	h6 {
		font-size: 15px;
	}
}
.chartsdiv {
	display: flex;
	gap: 5%;
	margin-top: 20px;
}
.chart1 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: $background-color_1;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 43%;
	p {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.recharts-wrapper {
		margin-top: 20px;
		margin-top: 20px;
	}
}
.chart2 {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 20px 20px 40px;
	background-color: $background-color_1;
	border-radius: 8px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 48%;
	p {
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	
}
