.addProductSection button {
  border: none;
  width: 20%;
  margin-top: 10px;
  margin-left: 79%;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  background-color: #07223D;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.ProductContainer .PRODUCTTITLE{
  font-size: 25px;
  margin-top: 15px;
}

.ProductContainer .search-bar{
  display: flex;
  align-items: center;

}

.ProductContainer .search-button{
  margin-top: -10px;
}

.ProductContainer .search-button:hover{
  background:#07223D;
}

.PRODUCTADDPRO:hover{
  background: #07223D;
}


.addProductSection i{
  padding-right: 10px;
}

.product-table-container {
  width: 90%;
  margin: 20px auto;
}

.product-table-container table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: #07223D;
}

.product-table-container th{
  background-color: #07223D;
  color: white;
  border-radius: 10px 10px 0 0;
  height: 50px;
}

.product-table-container td {
  background-color: #F7FBFE;
  border: 1px solid #07223D;
  text-align: center;
  padding: 10px 0 10px 0;
}



.product-table-container tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-table-container tbody tr:hover {
  background-color: #ddd;
}

.product-table-container .edit-btn,
.product-table-container .delete-btn {
  
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  padding: 0;
}

.product-table-container .edit-btn {
  background-color: #4CAF50;
  color: white;
}

.product-table-container .edit-btn:hover {
  background-color: #45a049;
}

.product-table-container .delete-btn {
  background-color: #f44336;
  color: white;
}

.product-table-container .delete-btn:hover {
  background-color: #da190b;
}

.product-table-container td img{
  height: 200px;
  width: 200px;
}

.product-count{
  margin-left: 5%;
}

.PRODUCTGenarate{
  border: none;
  width: 20%;
  margin-top: 20px;
  padding: 15px 0 15px 0;
  border-radius: 10px;
  background-color: #07223D;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}


.PRODUCTGenarate:hover{
  background: #07223D;
}