@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* const {user} = useAuthStore((state)=>({
    user: state.user,
  }));
  const UserId = user?._id; */


* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

.App {
    display: flex;
}

.sidepnlimg {
    display: flex;
    justify-content: center;
}

.sidepanelimg {
    margin-top: 100px;
    width: 190px;
    margin-bottom: 100px;

}

.side-panel {
    background-color: #050517;
    color: white;
    width: 250px;
    height: 100vh;
}

.side-panel ul {
    list-style: none;
    padding: 0;
}

.side-panel li {
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}

.side-panel li.active {
    margin-left: 30px;
    border-radius: 20px 0px 0px 20px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
}

.promain-content {
    flex: 1;
    padding: 0;
}

.sidepnlicon {
    padding-left: 30px;
    display: flex;
    justify-content: baseline;
    gap: 15px;
}

.sidepnlicon i {
    margin-top: 4px;
}