@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Poppins;
}

.usermain {
  /*background-color: aqua;*/
}

.userpropath {
  padding-top: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.upfirst {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

.uplblsec {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 22px;
}

.uplbls {}

.upfinp {
  display: flex;
  width: 500px;
  border-radius: 300px;
  padding: 5px;
  padding-left: 10px;
  font-size: 15px;
}

.upintextsec {
  display: flex;
  flex-direction: column;
  gap: 10px;


}

.uuprofile-image {

  width: 60px;
}


/*<Router>
        <Header />
        <Routes>
          <Route path="/" element={<UserProfile />} /> 
          <Route path="/cart" element={<ShopCart />} />
          <Route path="/reviews" element={<MyRev />} />
          <Route path="/logout" element={<LogOut />} />
        </Routes>
      </Router>*/